html {
	height: 100%;
}

body {
    background: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}


#pharmit {
	height: 100%;
	width: 100%;
}

.pharmit_query {
	float: left;
	position: absolute;
	background-color: rgba(255,255,255,.9);
	border-right: 1px solid black;
	z-index: 10;
	overflow: hidden;
	height:100vh;
  	display:flex;
  	flex-direction: column;
}

.pharmit_query .queryheader {
}

.pharmit_query .querybody {
	flex:1;
    overflow-y: auto;
    width: 100%;
}

.pharmit_query .queryfooter {
    width: 100%;
    text-align: center;
}

.pharmit_results {
	height: 100%;
	float: right;
}

.searchdiv {
	text-align: center;
}
.searchdiv .ui-button-text {
	width: 14em;
}

.filterrow input {
	width: 4em;
}

.headingsummary {
	font-size: x-small;
	color: gray;
}

.stylelabel {
	display:block;
}

.surfacetransparencydiv {
	width: 100%;
	text-align: center;
}

.surfacetransparencydiv div {
	margin-left: 1em;
	margin-right: 1em;
}